.textmenu {
  text-decoration: none;
  color: rgb(10, 0, 99);
  border-radius: 0px 12px;
  border: rgb(0, 2, 90) solid;
  padding: 5px 10px;
  margin: 10px 11px;
}

.menu {
  margin: 0px auto;
  max-width: 1024px;
  justify-content: center;
  display: flex;
  text-align: center;
  background-color: white;
  font-size: 3vmin;
  color: rgb(10, 0, 99);
}



  
