.onas {
  max-width: 1024px;
  margin: 0px auto;
  display: flex;
  flex-flow: wrap;

background-image: url(../babel/image/snegki.jpg.jpg);
background-repeat: no-repeat;
background-size: cover;

  background-color: rgb(253, 253, 253);
  justify-content: center;
}
.flex-onas {
  margin: 20px;
  padding: 25px;
  width: 400px;
  height: auto;
  align-self: center;
}

.kositchki {
    font-size: 25px;
    }